@import url("https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap");

.MainContainer {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  min-width: 1366px;
  min-height: 920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: hsla(0, 0%, 20%, 1);
  background: radial-gradient(circle, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

  &__audio {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

body {
  margin: 0;
  color: white;
}

* {
  font-family: "Vend Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
