.Card {
  width: 90%;
  height: 60px;
  background-color: #ff9494;
  cursor: pointer;
  text-align: start;
  align-items: start;
  vertical-align: top;
  display: flex;
  justify-content: space-between;
  position: relative;

  p {
    margin: unset;
  }

  &__cost {
    width: 30px;
    display: flex;
    align-items: center;
  }

  &:not(:first-child) {
    margin-top: -30px;
  }

  &--active {
    max-width: 100px;
    width: 100%;
    height: 100%;
    max-height: 100px;
    background-color: #ff9494;
    padding: 20px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;

    p {
      margin: 0;
    }

    &__stats {
      text-align: right;
    }
  }

  &Modal {
    position: absolute;
    background-color: #fff;
    color: black;
    top: -350px;
    left: -250px;
    max-height: 300px;
    max-width: 200px;
    height: 300px;
    width: 100%;
    padding: 20px;
  }
}

.Runes {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: end;
  gap: 10px;

  &__rune {
    border: 3px solid #d5b864;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: relative;

    &Number {
      position: absolute;
      bottom: -15px;
      right: -15px;
      border: 3px solid #d5b864;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      background-color: #000;
    }

    &.rune {
      &__fire {
        background-color: #552e2e;

        &--active {
          background-color: #f85050;
        }
      }

      &__water {
        background-color: #2e4055;

        &--active {
          background-color: #50c3f8;
        }
      }
      &__air {
        background-color: #2e5540;

        &--active {
          background-color: #c3f8c3;
        }
      }

      &__earth {
        background-color: #55462e;

        &--active {
          background-color: #b67617;
        }
      }

      &__light {
        background-color: #747474;

        &--active {
          background-color: #fdffe9;
        }
      }

      &__dark {
        background-color: #494949;

        &--active {
          background-color: #131313;
        }
      }

      &__life {
        background-color: #487440;

        &--active {
          background-color: #3b882b;
        }
      }

      &__death {
        background-color: #5c4074;

        &--active {
          background-color: #8715f2;
        }
      }

      &__aether {
        background-color: #4e4001;

        &--active {
          background-color: #ffd412;
        }
      }

      &__void {
        background-color: #391d3c;

        &--active {
          background-color: #c61bd5;
        }
      }
    }
  }
}
