.Card {
  width: 90%;
  height: 200px;
  background-color: #ff9494;
  cursor: pointer;
  text-align: start;
  align-items: start;
  vertical-align: top;
  display: flex;
  justify-content: space-between;
  position: relative;

  &--hidden {
    background-color: #5b0404;
    border: 1px solid black;
    cursor: unset;
  }

  p {
    margin: unset;
  }

  &__cost {
    width: 30px;
    display: flex;
    align-items: center;
  }

  &:not(:first-child) {
    margin-top: -170px;
  }

  &--active {
    max-width: 100px;
    width: 100%;
    height: 100%;
    max-height: 100px;
    background-color: #ff9494;
    padding: 20px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;

    p {
      margin: 0;
    }

    &__stats {
      text-align: right;
    }
  }

  &Modal {
    position: absolute;
    background-color: #fff;
    color: black;
    top: -350px;
    left: -250px;
    max-height: 300px;
    max-width: 200px;
    height: 300px;
    width: 100%;
    padding: 20px;
  }

  &Tooltip.MuiTooltip-tooltip {
    background-color: #fff;
    color: black;
    height: 300px;
    width: 200px;
    font-size: 18px;
  }
}

.Runes {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: end;
  gap: 10px;
  background-color: #6a4c20;

  &__rune {
    border: 3px solid #d5b864;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: relative;

    &Number {
      position: absolute;
      bottom: -15px;
      right: -15px;
      border: 3px solid #d5b864;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      background-color: #000;
    }

    &.rune {
      &__fire {
        background-color: #f85050;
      }

      &__water {
        background-color: #50c3f8;
      }
      &__air {
        background-color: #c3f8c3;
      }

      &__earth {
        background-color: #b67617;
      }

      &__light {
        background-color: #fdffe9;
      }

      &__dark {
        background-color: #131313;
      }

      &__life {
        background-color: #3b882b;
      }

      &__death {
        background-color: #8715f2;
      }

      &__aether {
        background-color: #ffd412;
      }

      &__void {
        background-color: #c61bd5;
      }
    }
  }
}

.Shield {
  border: 5px solid #d5b864;
  background-color: #7f6a2b;
  color: #6a4c20;
  border-radius: 100%;
  height: 75px;
  width: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &--active {
    background-color: #50c3f8;
    width: 100%;
    height: 100%;
  }
}
