.Card {
  width: 90%;
  height: 60px;
  background-color: #ff9494;
  cursor: pointer;
  text-align: start;
  align-items: start;
  vertical-align: top;
  display: flex;
  justify-content: space-between;

  p {
    margin: unset;
  }

  &__cost {
    width: 30px;
    display: flex;
    align-items: center;
  }

  &:not(:first-child) {
    margin-top: -30px;
  }

  &--active {
    max-width: 100px;
    width: 100%;
    height: 100%;
    max-height: 100px;
    background-color: #ff9494;
    padding: 20px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;

    p {
      margin: 0;
    }

    &__stats {
      text-align: right;
    }
  }
}
