.Mana {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(113, 113, 113);
    width: 100%;
    height: 50px;

    &Text {
      font-size: 24px;
    }
  }
}
