.coinToss {
  width: max-content;
  position: relative;
  height: 100px;
  width: 100px;

  &Wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 650px;
    transform: translate(-50%, -50%);
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 40px;
    border: 1px solid #d5b864;
    border-radius: 10px;
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &--heads,
  &--tails {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #d5b864;
    color: #7f6a2b;
    border-radius: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--heads {
    z-index: 100;
    backface-visibility: hidden;

    &--selected {
      animation: flipHeads 1s ease-out forwards;
    }
    &--notSelected {
      animation: flipTails 1s ease-out forwards;
    }
  }

  &--tails {
    transform: rotateY(180deg);

    &--selected {
      animation: flipTails 1s ease-out forwards;
    }
    &--notSelected {
      animation: flipHeads 1s ease-out forwards;
    }
  }

  &Close,
  &Text {
    opacity: 0;
    visibility: hidden;

    animation: showAfterDelay 0s linear forwards;
    animation-delay: 1s;
  }

  &Text {
    font-size: 32px;
    margin: 0;
    padding: 0;
    color: #d5b864;
    font-weight: 700;
  }
}

@keyframes showAfterDelay {
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes flipHeads {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(1800deg);
  }
}

@keyframes flipTails {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(1980deg);
  }
}
